@import url('https://fonts.cdnfonts.com/css/gentium-basic');
*{
    font-family: 'Gentium Basic', serif;
}
nav{
    background-color: #f8f8f8;
    padding: 10px;
    
}
.body-container {
    max-width: 900px;
    margin: 0 auto;
}
#logo{
    display: block;
    margin: 0 auto;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: #004AAD;
    &:hover{
        color: black;
    }
}
.page-header{
    text-align: center;
}
